@using System.Linq;
@model AnalysisChampionship.Models.Analise
@if (Model.Mandante.ID > 0)
{
    <h1>@Model.Mandante.Nome x @Model.Visitante.Nome</h1>

    <fieldset class="border p-2">
        <legend>Placar Exato</legend>
        @Html.Raw(Model.GetTextoResultadoExato(AnalysisChampionship.Models.enumTipoAnalise.Global))
        @Html.Raw(@Model.GetTextoResultadoExato(AnalysisChampionship.Models.enumTipoAnalise.ComMando))
        @Html.Raw(@Model.GetTextoResultadoExato(AnalysisChampionship.Models.enumTipoAnalise.Ultimo10))
        @Html.Raw(@Model.GetTextoResultadoExato(AnalysisChampionship.Models.enumTipoAnalise.Ultimos5ComMando))
        @Html.Raw(@Model.GetTextoResultadoExato(AnalysisChampionship.Models.enumTipoAnalise.Similares))
        @Html.Raw(@Model.GetTextoResultadoExato(AnalysisChampionship.Models.enumTipoAnalise.SimilaresComMando))
    </fieldset>

    <fieldset class="border p-2">
        <legend>Over/Under 2.5</legend>
        @Html.Raw(@Model.GetTextoGols(AnalysisChampionship.Models.enumTipoAnalise.Global))
        @Html.Raw(@Model.GetTextoGols(AnalysisChampionship.Models.enumTipoAnalise.ComMando))
        @Html.Raw(@Model.GetTextoGols(AnalysisChampionship.Models.enumTipoAnalise.Ultimo10))
        @Html.Raw(@Model.GetTextoGols(AnalysisChampionship.Models.enumTipoAnalise.Ultimos5ComMando))
        @Html.Raw(@Model.GetTextoGols(AnalysisChampionship.Models.enumTipoAnalise.Similares))
        @Html.Raw(@Model.GetTextoGols(AnalysisChampionship.Models.enumTipoAnalise.SimilaresComMando))
    </fieldset>

    <fieldset class="border p-2">
        <legend>Ambas</legend>
        @Html.Raw(@Model.GetTextoAmbas(AnalysisChampionship.Models.enumTipoAnalise.Global))
        @Html.Raw(@Model.GetTextoAmbas(AnalysisChampionship.Models.enumTipoAnalise.ComMando))
        @Html.Raw(@Model.GetTextoAmbas(AnalysisChampionship.Models.enumTipoAnalise.Ultimo10))
        @Html.Raw(@Model.GetTextoAmbas(AnalysisChampionship.Models.enumTipoAnalise.Ultimos5ComMando))
        @Html.Raw(@Model.GetTextoAmbas(AnalysisChampionship.Models.enumTipoAnalise.Similares))
        @Html.Raw(@Model.GetTextoAmbas(AnalysisChampionship.Models.enumTipoAnalise.SimilaresComMando))
    </fieldset>
}