@using System.Linq;
@model AnalysisChampionship.Models.Analise
@if (Model.Mandante.ID > 0)
{
    <h1>@Model.Mandante.Nome x @Model.Visitante.Nome</h1>

    <fieldset class="border p-2">
        <legend>Placar Exato</legend>
        <p>@Model.GetTextoResultadoExato(AnalysisChampionship.Models.enumTipoAnalise.Global)</p>
        <p>@Model.GetTextoResultadoExato(AnalysisChampionship.Models.enumTipoAnalise.ComMando)</p>
        <p>@Model.GetTextoResultadoExato(AnalysisChampionship.Models.enumTipoAnalise.Ultimo10)</p>
        <p>@Model.GetTextoResultadoExato(AnalysisChampionship.Models.enumTipoAnalise.Ultimos5ComMando)</p>
        <p>@Model.GetTextoResultadoExato(AnalysisChampionship.Models.enumTipoAnalise.Similares)</p>
        <p>@Model.GetTextoResultadoExato(AnalysisChampionship.Models.enumTipoAnalise.SimilaresComMando)</p>
    </fieldset>

    <fieldset class="border p-2">
        <legend>Over/Under 2.5</legend>
        <p>@Model.GetTextoGols(AnalysisChampionship.Models.enumTipoAnalise.Global)</p>
        <p>@Model.GetTextoGols(AnalysisChampionship.Models.enumTipoAnalise.ComMando)</p>
        <p>@Model.GetTextoGols(AnalysisChampionship.Models.enumTipoAnalise.Ultimo10)</p>
        <p>@Model.GetTextoGols(AnalysisChampionship.Models.enumTipoAnalise.Ultimos5ComMando)</p>
        <p>@Model.GetTextoGols(AnalysisChampionship.Models.enumTipoAnalise.Similares)</p>
        <p>@Model.GetTextoGols(AnalysisChampionship.Models.enumTipoAnalise.SimilaresComMando)</p>
    </fieldset>

    <fieldset class="border p-2">
        <legend>Ambas</legend>
        <p>@Model.GetTextoAmbas(AnalysisChampionship.Models.enumTipoAnalise.Global)</p>
        <p>@Model.GetTextoAmbas(AnalysisChampionship.Models.enumTipoAnalise.ComMando)</p>
        <p>@Model.GetTextoAmbas(AnalysisChampionship.Models.enumTipoAnalise.Ultimo10)</p>
        <p>@Model.GetTextoAmbas(AnalysisChampionship.Models.enumTipoAnalise.Ultimos5ComMando)</p>
        <p>@Model.GetTextoAmbas(AnalysisChampionship.Models.enumTipoAnalise.Similares)</p>
        <p>@Model.GetTextoAmbas(AnalysisChampionship.Models.enumTipoAnalise.SimilaresComMando)</p>
    </fieldset>
}