@model AnalysisChampionship.Models.AnaliseTimeDetalhe
<td>@Model.Partidas</td>
<td>@Model.PercentualVitoria</td>
<td>@Model.PercentualEmpate</td>
<td>@Model.PercentualDerrota</td>
<td>@Model.PercentualOver15</td>
<td>@Model.PercentualOver25</td>
<td>@Model.PercentualUnder25</td>
<td>@Model.PercentualUnder35</td>
<td>@Model.PercentualAmbas</td>