@model AnalysisChampionship.Models.AnaliseTimeDetalhe
<td>@Model.Partidas</td>
<td @AnalysisChampionship.Models.AnaliseTimeDetalhe.GetClassTextResultadoExato(@Model.PercentualVitoria)>@Model.PercentualVitoria</td>
<td @AnalysisChampionship.Models.AnaliseTimeDetalhe.GetClassTextResultadoExato(@Model.PercentualEmpate)>@Model.PercentualEmpate</td>
<td @AnalysisChampionship.Models.AnaliseTimeDetalhe.GetClassTextResultadoExato(@Model.PercentualDerrota)>@Model.PercentualDerrota</td>
